.widget-container {
    position: absolute;
    right: 40px;
    top: 25px;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 40px;
    padding-left: 8%;
    padding-right: 10%;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.logo a{ 
    color:black;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    left: 40px;
    top: 40px;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

nav ul li a {
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
}

nav ul li a:hover{
    color:dimgrey;
    transition: .3s;
}