footer{
    margin-top: 8rem;
}

hr{ 
    margin-top: 15rem;
    color: black;
}


.border-width{
    border-width: 10px;
    color:black
}

.redes{
    position: absolute;
    left: 63rem;
    bottom: 5rem;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    gap: 2rem;
}


.font-size{
    font-size: 2rem;
}